# Flutter / Dart
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/ios/.symlinks/

# dotnet / C#
**/bin/
**/obj/
*.user
*.suo
# Database temporary journal files (Do not commit locks)
*.db-shm
*.db-wal
*.db-journal

# IDE & OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

*.apk

