# Flutter / Dart
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/ios/.symlinks/

# dotnet / C#
**/bin/
**/obj/
*.user
*.suo
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite
*.sqlite3
**/quran.db
quran.db

# IDE & OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

*.apk

